$primary_background: #ebebeb;
$secondary_background: #54be90;
$tertiary_background: #232323;
$fourth_background: black;
$fifth_background: white;
$sixth_background: lightgrey;

$secondary_text: white;
$tertiary_text: $secondary_background;
$fourth_text: grey;