@import 'colors';
@import 'sizes';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $primary_background;
    font-family: 'Roboto', sans-serif;;

    @media (min-width: $small) {
        margin: 0 5% 0 5%;
    }

    @media (min-width: $medium) {
        margin: 0 10% 0 10%;
    } 

    @media (min-width: $large) {
        margin: 0 15% 0 15%;
    }    
}

.header {
    display: flex;
    background-color: $fifth_background;
    padding-bottom: 4rem;

    @media (min-width: $small) {
        &__logo {
            width: 17%;
        }
    }

    img {
        width: 3em;
    }

    nav {
        display: flex;
        flex-grow: 1;

        a {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary_background;
            text-decoration: none;
            color: $secondary_text;
            width: 20%;
            border: 1px solid $fifth_background;   
        }
    }
}

.home {
    display: relative;

    img {
        width: 100%;
    }

    .greeting {
        position: absolute;
        top: 18%;
        right: 20%;

        color: $secondary_text;
        z-index: 1;
        text-align: right;

        h1 {
            font-size: 1.7rem;
        }
    }

    .intro {
        text-align: center;
        padding: 3em;

        .bold {
            font-weight: bold;
        }
    }
}

.plan {
    background-color: $tertiary_background;
    color: $secondary_text;
    display: flex;

    @media (max-width: $small) {
        flex-direction: column;
        padding-bottom: 4rem;
    }

    h3 {
        color: $tertiary_text;
    }

    .step {
        overflow: hidden;
        padding: 2rem 10rem 0;
        @media (min-width: $small) {
            padding: 5rem 3rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &__circle {

            @media (max-width: 900px) {
                display: none;
            }
    
            width: 125px;
            height: 125px;
            background-color: $primary_background;
            position: absolute;
            top: -70px;
            border-radius: 50%;
        }

        &__text {
            display: flex;
            text-align: center;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: $fifth_background;

    h2 {
        color: $tertiary_text;
        align-self: center;
        padding-bottom: 1em;
    }

    .table {
        display: flex;
        flex-direction: column;
    }

    .item {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0.5em;
    }

    .skill {
        display: flex;
        justify-content: center;
        color: $secondary_text;
        background-color: $tertiary_background;
        width: 100px;
        padding: 0.5rem 0;
    }

    .bar {
        background-color: $secondary_background;
        flex-basis: 0;
    }
    
    .padding {
        background-color: $sixth_background;
        flex-basis: 0;
    }
    
    .number {
        color: $fourth_text;
        background-color: $sixth_background;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    .html {
        .bar { flex-grow: 80; }
        .padding { flex-grow: 20; }
    }

    .css {
        .bar { flex-grow: 80; }
        .padding { flex-grow: 20; }
    }
    
    .javascript {
        .bar { flex-grow: 70; }
        .padding { flex-grow: 30; }
    }
    
    .react {
        .bar { flex-grow: 60; }
        .padding { flex-grow: 30; }
    } 
    
    .jquery {
        .bar { flex-grow: 70; }
        .padding { flex-grow: 30; }
    } 
       
    .php {
        .bar { flex-grow: 60; }
        .padding { flex-grow: 40; }
    }
    
    .laravel {
        .bar { flex-grow: 60; }
        .padding { flex-grow: 40; }
    } 
    
    .ux {
        .bar { flex-grow: 50; }
        .padding { flex-grow: 50; }
    }
}

.portfolio {
    background-color: $secondary_background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    h2 {
        color: $secondary_text;
        padding: 2em;
    }

    .projects {
        padding-bottom: 5rem;    
        display: flex;
    }
}

.about_me {

    h2 {
        text-align: center;
        padding: 2em;
    }
    
    .info {
        display: flex;
        padding-bottom: 3em;
    }
    
    img {
        width: 50%;
    }
    
    .text {
        width: 50%;
    }
    
    .find {
        background-color: $fourth_background;
        color: $secondary_text;
        text-align: center;
        padding: 2em 0 5em 0;

        img {
            width: 100px;
            margin: 0 3em;
        }
    }
    
    .links {
        display: flex;
        justify-content: center;
    }    
}

.contact {
    background-color: $secondary_background;
    color: $secondary_text;
    padding: 3em 0 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 2em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .line {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 0 1em 0;

            [type="text"] {
                width: 49%;
                background-color: $secondary_background;
                border: none;
                border-bottom: 1px solid $secondary_text;
              
                &::placeholder {
                    color: $secondary_text;
                }

                &:focus {
                    border: none;
                    border-bottom: 1px solid $secondary_text;
                    outline: none;
                }
            }
        }

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;

            textarea {
                margin-top: 0.5em;
                &:focus {
                    outline: none;
                }
            }
        }

        [type="submit"] {
            width: 100%;
            background-color: $tertiary_background;
            color: $secondary_text;
            border: none;
            padding: 1em;
        }
    }
}

footer {
    text-align: center;
    padding: 5em;
}